.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.todo {
  background-color: #f4b416;
  width: 95%;
  height: 50%;
}

.todoList {
  height: 100%;
  overflow-y: auto;
}

.todoForm {
  width: 95%;
}
