.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 50rem;
  height: 4rem;
  background-color: teal;
  padding: 0 3rem;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  font-weight: 500;
}

.navIcon {
  font-size: x-large;
  margin: 2rem;
  opacity: 0.5;
}

.navIcon:hover {
  opacity: 1;
}
