.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.nav button {
  border: none;
  font-size: 2rem;
  opacity: 0.5;
  border-radius: 1rem;
}

.nav button:hover {
  opacity: 1;
}
